{% extends "APP_B_1/padre.html"%}
{% block content %} 
<h1 class='mb-5'>Explorar Usuarios</h1>
{% load static %}
<div class="w3-container w3-card-4">
    <h3>{{title}}</h3>
</div>

{% if form.errors  %}
<h5 style="color: red">Hubo un problema con los datos.</h5>
{% endif %}

<!-- Formulario nuevo mensage -->
<div class="w3-container w3-padding-16">
    <form action="{% url 'mostrar_otros_perfil' %}" method="POST">
        {% csrf_token %}
        <table class="w3-table-all w3-card-4">
            {{form.as_table}}
        </table>

<div class="w3-card-4 w3-center">

    <h4>
        <ul><ol> <img src="{{avatar2}}" class="w3-circle"  width="100px" height="100px" alt=""></ol>    

            <ol>Usuario: {{usuario.username}}</ol>
            <ol>Nombre: {{usuario.first_name}}</ol>
            <ol>Apellido: {{usuario.last_name}}</ol>
            <ol>Email: {{usuario.email}}</ol>
            <ol>Link web: {{usuario.link_pagina_web }}</ol>
            <ol>Descripcion: {{usuario.descripcion}}</ol>
            <ol>Ultimo ingreso: {{usuario.last_login}}</ol>
        <ol>Se unió: {{usuario.date_joined}}</ol>
    </ul>
    </h4>

</div>
</div>
        </table>
        
        <!-- Botones -->
        <div class="w3-bar w3-padding-32">
            <input button type="submit" class="w3-bar-item  w3-right w3-button w3-white w3-border w3-border-indigo w3-round-large" value="Explorar Usuario">
            <a button type="button" class="w3-button w3-white w3-border w3-border-indigo w3-round-large" href=" {% url 'posts' %} ">Volver</button></a>
        </div>
    </form>
</div>
{% endblock %}

