{% extends "APP_B_1/padre.html" %}
{% block content %}

<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Bienvenido al Blog Sobre Mascotas </h3>
                    <p class="text-light">Este es un blog donde podés compartir a tus compañeros más queridos 
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
  <!-- BLOCK SIDBAR Goes here -->
  <style>
    .card{
        box-shadow: 0 16px 48px #E3E7EB;
    }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
    <h5 class="card-header">Una sidebar</h5>
<div class="card-body">
    <p class="card-text"> Acá podrías publicitar, porque no, tu exitosa empresa!</p>
    <a href="https://es.wikipedia.org/wiki/Archivo:United_States_Navy_Band_-_Himno_Nacional_Argentino.ogg"
       class="btn btn-danger">Gran Producto!</a>
</div>
</div>
</div>

<!-- END BLOCK SIDBAR  -->
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div >
            <p ></p>
            <p ></p>

            <p class="text-black">Que cosa graciosa hizo tu mascota hoy? Contanos! </p>
            <img src="/MEDIA/post_images/pet_1.jpg" class="w3-border w3-padding" height="500px" alt="Pet-Post" >

        </div>

    </div>
</div>

 </div>

</div>



{% endblock %}


