{% extends "APP_B_1/padre.html"%}
{% block content %}
<h1 class="mb-5">Login</h1>

{{mensaje}}

{% if form.errors %}
<h4 style="color: red;"> Están mal los datos, revisar </h4>
<a button type="button" class="w3-button w3-round-large w3-button w3-large w3-indigo" href=" {% url 'login' %} ">Volver</button></a>

{% endif %} 

    <form action="{% url 'login' %}" method='POST'> {% csrf_token %}
   
            {{form.as_p }}

    
        <button type="submit"> Iniciar Sesión</button>

    </form>
{%endblock%}